.logo{
  width: 45px;
  z-index: 1000;
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1000;
}

.list-container li{
  list-style: none;
  font-size: 8rem;
  font-family: 'ClashDisplay-Semibold';
}

.list-container li a{
  color: white;
}

.list-container{
  background-color: black;
  height: 100vh;
  width: 100vw;
  margin-left: 9vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}

.about{
  background-image: linear-gradient(45deg, #02aab0, #00cdac);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.resume{
  background-image: linear-gradient(45deg,  #ddd6f3, #faaca8);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.projects{
  background-image: linear-gradient(45deg, #667eea, #764ba2);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.contact{
  background-image: linear-gradient(45deg, #ff758c, #ff7eb3);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}




.closeIcon,
.openIcon{
  z-index: 1000;
  cursor: pointer;
}

.closeIcon{
  width: 45px;
  height: 45px;
}

@media screen and (max-width: 1080px) {
  .list-container li{
    font-size: 5rem;
  }
}
@media screen and (max-width: 1030px) {
  .list-container li{
    font-size: 3rem;
  }
  .list-container{
    width: 100%;
    padding-top: 8rem;
    padding-left: 2rem;
    margin: 0;
  }
}